<h1>このスレッドを本当に削除しますか？</h1>
<div class="title">
  <%= @thread.title %>
</div>
<%= form_with(model: @thread, method: :delete) do |f| %>
  <%= f.text_field :again_password , class:'password' %>
  <%= f.submit "送信" , class:'sousin' %>
<% end %>