<h1>作成者から</h1>
<h3>初めての制作をしてみて</h3>
オンラインスクールのtech boost様にてプログラミングを１から学んでみて、最後に自主成果物を作ろうということでしたので掲示板サイトを作ってみました。<br>
<br>
教材に関してはスムーズに進む部分は多かったのですが、tech boost様の教育方針？は自走力をつける目的があるため、課題部分を自分で調べてやってみようという部分があり<br>
そのおかげで多少は自己解決力と自走力がついたのかなと思います。<br>
<br>
この掲示板サイトを作成中、一週間エラーに悩まされ続けトライアンドエラーで検索して出てきた記事を片っ端から試してみるということもやっておりました。<br>
<br>
その中で色々組み込んでいくうちに、あれが足りないこれが足りないと追加で機能を増やしていき、思ったよりも時間がかかってしまいました。<br>
終わりが見え始めてきたころ、どうやって運用しようかと、これもまた調べてみましたがインフラの知識が必要ぽく、またこれも勉強せねばと感じました。<br>
<br>
<h3>掲示板を作った理由</h3>
私は昔チョコットランドというMMORPGにはまっていて、その際に公式とは別に取引サイトを利用していました。<br>
基本的にオンゲの取引は５分以内に返信がなければ流れるというような形でしたので、別ユーザーの書き込みがあるかどうか見るため、ページの更新頻度が高かったです。<br>
ネットから別アプリをダウンロードして、自動上げ、スレッドに書き込みがあれば通知してくれるアプリを使っていましたが、一つの取引サイトでしか使わないものを<br>
わざわざダウンロードさせるのも、するのもめんどくさいなと思いサイト自体にその機能をつければいいのではないかとまずは掲示板サイトを作ってみました。<br>
<br>
一番の目標がwebサイトに通知機能を実装する部分でしたので、最初から最後まで調べ続けていろいろ試してみましたが、自分一人では解決できずうまく実装できませんでした。<br>
そのため通知機能に関しては一度置いておいて、掲示板に必要な部分を実装し一つの実績としてまずはリリースしようと考えました。<br>
ただ、通知機能に関してはこれからも調べて実装しようとは思います。<br>
<br>
<h3>今後の課題点</h3>
主に上の記述にでてきた通知の部分に関してです。<br>
・新しい機能を実装<br>
・アップデート<br>
になります。<br>
<br>
<h3>今後やりたいこと</h3>
課題点と似てはいるのですが、グーグル検索に引っ掛けるようにしたり、ラスパイを使って自分でwebサーバーを立ててみたりしたいなと思っています。<br>
<br>
<br>