<div style="text-align: center">
  <%= image_tag 'weblogo.jpg', class: 'logo', alt: '３ちゃんねる' %>
</div>
<%= form_with url: tops_index_path do |f| %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
<p>Find me in app/views/tops/index.html.erb</p>
