@font-face {
  font-family: 'crayon_1-1';
  src: font-url('crayon_1-1.ttf')
}

body {
  background-image: url("background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}


.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

h1 {
  text-align: center;
  font-family: 'crayon_1-1';
  font-size: 50px;
  margin: 20px 0 0 0;
}
.title {
  font-size: 30px;
  margin-top: 30px;
}
.left {
  display: block;
  margin: 0 0 0 10%;
  float: left;
}
.logo {
  width: 300px;
  height: 300px;
  margin: 30px 0 0 0;
}

.kensaku {
  text-align: center;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
}

.btn-cross {
  display: inline-block;
  position: relative;
  padding: 0.25em 1em;
  margin: 3em 0 3em 0;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  text-decoration: none;
  font-weight: bold;
  color: #03A9F4;
  font-size: 23px;
}
.btn-cross:before, .btn-cross:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .3s;
}
.btn-cross:before {
  left: 7px;
}
.btn-cross:after {
  right: 7px;
}
.btn-cross:hover:before {
  top: 0px;
  left:0;
  height: 100%;
}
.btn-cross:hover:after {
  top: 0px;
  right: 0;
  height: 100%;
}

.titletext {
  width: 100%;
  height: 100px;
  font-size: 20px;
  resize: none;
}
.gaiyou {
  font-size: 30px;
  margin-top: 30px;
}
.overviews {
  width: 100%;
  height: 350px;
  resize: none;
}

.name {
  font-size: 30px;
  margin-top: 30px;
}
.sakuseisya {
  width: 100%;
  margin-right: 8.3333333333%;
}
.pw {
  font-size: 30px;
  margin-top: 30px;
}
.password {
  width: 100%;
}
.sakusei {
  width: 200px;
  height: 100px;
  font-size: 30px;
  margin-top: 30px;
}
.inline {
  display: inline-block;
}
.abc {
  margin-top: 20px;
}
.inline:last-child {
  margin: 0 0 0 100px;
}

.kakomi-te1 {
 margin: 2em auto; 
 padding: 1em 1.5em;
 width: 90%; /*幅の調節*/
 color: #777777; /* 文字色 */
 background-color: #fff; /* 背景色 */
 border: 4px solid #f6bfbc; /*線の太さ・色*/
 border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;
}

.boarder {
height:30px;
margin:0px 0px 5px 0px;
padding:5px 0px 0px 0px;
font-size:16px;
font-weight:bold;
color:#333333;
background-image:url(img/head011_01.png);
background-position:bottom;
background-repeat:repeat-x;
}
.names {
  text-align: center;
}

.commentsss {
  text-align: center;
}
.commentss {
  text-align: center;
}
.comments {
  width: 30%;
  height: 250px;
  resize: none;
  text-align: center;
}

.sousin-btn {
  display: inline-block;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}


.delete_btn {
  display: inline-block;
  padding: 16px 32px;
  background: #e41313;
  border-bottom: solid 4px #bd1111;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-heigt: 1.2em;
  -webkit-transition: .100s;
  transition: .100s;
}
.delete_btn:hover {
  border-bottom: none;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.f_delete {
  text-align: center;
  margin: 40px 0;
}
.delete_mandatory {
  font-size: 20px;
}

.delete_btn_wrapper {
  text-align: center;
  margin: 1vw 0;
}

.top {
  width: 2%;
  height: 2%;
  margin: 1vw 0 0 2vw;
}

.line {
  width: 100%;
}

.flame {
position: relative;
margin: 3em 17%;
padding: 1em;
border: 6px solid #f6bfbc;
border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;
display: inline-block;
}
.flame .flame-title {
position: absolute;
display: inline-block;
top: -13px;
left: 15px;
padding: 0 10px;
line-height: 1;
font-size: 20px;
background: #dcf46c;
color: #b20023;
font-weight: bold;
}
.flame li {
padding: 3px 5px;
font-size: 16px;
margin: 0;
}

.result {
  margin: 4% 0 0 10%;
  font-family: 'crayon_1-1';
  font-size: 40px;
}
.result p {
  margin : 2% 0;
}
.over_views {
  font-size: 20px;
}

.none {
  font-size: 50px;
  text-align: center;
}
.newthread_title {
  text-align: center;
  margin: 0 5% 0 5%;
}
.author {
  font-weight: bold;
  font-size: 25px;
}
.author-s {
  text-align: right;
  margin: 1vw 2vw 0 0;
}

.image-up {
  text-align: center;
  margin: 1vw;
}
#post_image {
  display: inline;
}

.producer {
  text-align: center;
}

.center {
  text-align: center;
}

.paginate {
  text-align: center;
}
.top-width {
  width: 80%;
}


img.sized {
  width: 20%;
  height: 20%;
}

input[type="text"] {
  width: 40%;
}